{% extends 'components/default.html' %}

{% block head %}
    <title>HN Search</title>
{% endblock %}

{% block body %}

{% with pageName="HN Search" %}
{% include 'components/navbar.html' %}
{% endwith %}

    <div class="search_bar">
        <form method="post", style="display: flex">
            {% csrf_token %}
            {{ SearchForm.searchid }}
            <button class="search_button" type="submit" >
                <!-- <i class="fa fa-search" style="size: 10%;" ></i>search -->
                <i class="fa fa-search" style="size: 10%;" ></i>
            </button>
        </form>
    </div>

    <div style='color: #b8b8b8;text-align: end;padding: 10px;'>
        {% if ANlist is None %}
        {% else %}
            <p>HN: {{ HN }}</p>
        {% endif %}

    </div>

    <div style="text-align: center" >
        {% if ANlist is None %}
        <p style='color: #b8b8b8'> HN not found</p>
        {% elif ANlist %}
        {% else %}
        <p style='color: #b8b8b8'> Zero Admission Numbers</p>
        {% endif %}
    

        <div class="overflow-scroll">
            <div>
                {% for an in ANlist %}
                <a href="{% url 'service:form' an %}" , style="text-decoration: none;">
                    <div class="card AN-card" >
                        <h4 class="card-text">{{ an }}</h4>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

    

    </div>

{% endblock %}
