{% extends 'components/default.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        {{ LoginForm.username }}
        {{ LoginForm.password }}
        {{ LoginForm.role }}
        {% for msg in messages %}
            {% if "error" in msg.tags %}
                <p style="color: red">{{ msg }}</p>
            {% endif %}
        {% endfor %}
        <button type="submit">Login</button>
    </form>
{% endblock %}