.form_frame{
    background-color: EFEFEF ;
    border-radius: 10px;
    margin-top: 20pt; 
    margin-left: 20pt;
    margin-right: 20pt;
    padding-top: 15pt;
    padding-bottom: 15pt;

}

.form_row{
    font-size: 12px; 
    margin: 2%;
    display: flex;
}

.form_group {
    margin: 4px; 
    width: 100%;
    box-sizing: border-box;
}

.form_group label {
    font-weight: bold;
    margin-bottom: 5px; 
}


select,
input[type="date"],
input[type="time"],
input[type="text"],
input[type="password"],
input[type="email"] {
    font-size: 110%;
    padding: 8px;
    width: 100%;
    background-color: rgb(255, 255, 255) ;
    border-radius: 11px;
    border: 2px solid #d8d8d8;
}

select:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="text"]:focus,
input[type="choice"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #949494; /* Change border color when focused */
    outline: none; /* Remove the default focus outline (if desired) */
}