.login-body {
    background-color: #eeeeee;
    align-items: center;
    /* text-align: start; */
    flex-direction: column; 
    justify-content: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
  }
  .formContainer {
    background-color: #ffffff;
    padding: 25px 30px 40px 30px;
    border-radius: 33px;
    width: 75vh;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.space select,
.space input[type="text"],
.space input[type="password"] {
    width: 100%; 
    padding: 13px;
    font-size: 17px;
    background-color: rgb(255, 255, 255) ;
    border-radius: 52px;
    border:0;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3); 
}

.space select:focus,
.space input[type="text"]:focus,
.space input[type="password"]:focus {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3); 
  border:0;
}

.space {
  margin-bottom: 20px; 
}

.space label {
  display: block;
  font-size: 19px;
  font-weight: 500;
  padding-left: 15px;
  padding-bottom: 7px;
}

.button-space {
  padding-top: 20px;
  text-align: center;
}

.login-btn {
  background-color: #FFC02E;
  color: #ffffff;
  min-width: fit-content;
  min-height: fit-content;
  width: 40%;
  height: 8vh;
  border: none;
  border-radius: 52px;
  font-weight: 600;
  font-size: 4vh;
  }
  