* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.go-to-top i {
    margin-top: 12px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.go-to-top.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index: 1001;
}

.go-to-top {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    line-height: 1.4;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transition: all .2s;
    right: 15px;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    visibility: hidden;
    opacity: 0;
}

.form_frame{
    background-color: rgb(203, 203, 203) ;
    border-radius: 10px;
    margin-top: 30pt; 
    margin-left: 30pt;
    margin-right: 30pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
}

.form_row{
    font-size: 10%; 
    margin: 10%;

}

input[type="select"],
input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"] {
    width: 40%; /* Make the inputs full-width */
    padding: 8px;
    background-color: rgb(255, 255, 255) ;
    border-color: #ffffff00;
    border-radius: 10px;
    border: 3px solid #ccc;
}
