<nav class="navbar navbar-custom">
    <span class="navbar-title"> Create/Search </span>

    <div>
        <a href="{% url 'service:HNsearch' %}" style="text-decoration: none;">
            <button class="btn btn-others" type="submit">Search</button>
        </a>
        <button class="btn btn-others" type="submit">Dashboard</button>
        <button class="btn btn-logout" type="submit"> Logout </button>
    </div>
</nav>
<style>
    body {
        font-family: "FiraCode-Retina", sans-serif;
        margin: 0px;
    }
</style>